@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "tailwindcss";

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYTkntBJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --color-officeCM: #dbeeec;
  --font-mono: "DM Mono", ui-monospace;
  --animate-fadeIn: fadeIn 0.18s ease;
  --animate-slideUp: slideUp 0.22s cubic-bezier(.22, .68, 0, 1.2);
  
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  @keyframes slideUp {
      from {
          transform: translateY(18px);
          opacity: 0;
      }
      to {
          transform: translateY(0);
          opacity: 1;
      }
  }
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply text-[10px];
  }
  body {
    @apply font-['Outfit'] h-screen;
    @apply bg-[#d9dfe6];
  }
}  