form input[type='email'],
form input[type='password'],
form input[type='text']
 {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 0px;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
  font-size: medium;
}

#pass-div svg {
    position: absolute;
    font-size: 20px;
    right: 10px;
    bottom: 35px;
    cursor: pointer;
    outline: none;
}

form button[type='button'] {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 30px;
    font-weight: 450;
    font-size: medium;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

form button:nth-child(1) {
    background-color: black;
    color: white;
}

form button:nth-child(1):hover {
    color: black;
    background-color: rgb(209, 209, 209);
}

form button:nth-child(2) {
    background-color: rgb(209, 209, 209);;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

form button:nth-child(2):hover {
    background-color: #2828289e;
    color: ghostwhite;
}

form button:nth-child(2) img {
    width: 30px;
}